@model MinhaAplicacao_Cliente.Models.PessoaModel

<h4>Pessoa - Novo</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Adicionar">
            @await Html.PartialAsync("FormularioPessoa")
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

