@model MinhaAplicacao_Cliente.Models.PessoaModel

<h4>Pessoa - Alterar</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Atualizar">
            @await Html.PartialAsync("FormularioPessoa")
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/lib/jquery.maskedinput/jquery.maskedinput.js"></script>
    <script src="~/js/site.js"></script>
}
